.title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: rgb(165, 165, 165);
  margin-bottom: 30px;
}

.statisticsList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 40px;
  color: rgb(219, 215, 215);
}

.label {
  font-size: 16px;
  margin-bottom: 10px;
}
